.biography-container {
    background-image: url(https://res.cloudinary.com/app-academy4/image/upload/v1722390565/assets/waves_lv4ee3.jpg);
    background-size: cover;
    height:94vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-color: rgb(37, 48, 59);
    border: 1px solid rgb(37, 48, 59);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    overflow: scroll;
}

.info-subcontainer {
    display: flex;
    flex-direction: row;
}

.profile-image {
    height:200px;
    border: 2px solid whitesmoke;
    border-radius: 180px;
    margin: 10px 0 0 0;
}

.about-content {
    width: 50%;
    padding: 7px;
}

.image-skills-content { 
    width: 40%;
    padding: 7px;
}

.skill-icon {
    width: 50px;
}

.main-text {
    margin: 30px 0px 30px 0px;
    text-shadow: rgb(0, 0, 0) -3px 3px 0px, 
    rgb(0, 0, 0) 3px 3px 0px, 
    rgb(0, 0, 0) 3px -3px 0px, 
    rgb(0, 0, 0) -3px -3px 0px;
}