.skill-icon {
    width: 50px;
    margin: 0 2px 0 2px;
}

.devicon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 18px;
}