.instruction-main-container {
    background-image: url(https://res.cloudinary.com/app-academy4/image/upload/v1722741181/assets/ai-generated-8587765_1920_us0bqi.jpg);
    background-size: cover;
    height: 94vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: scroll; */
}

.instruction-main-text {
    margin: 40px 0px 40px 0px;
    font-size: 2em;
    text-shadow: rgb(0, 0, 0) -3px 3px 0px, 
    rgb(0, 0, 0) 3px 3px 0px, 
    rgb(0, 0, 0) 3px -3px 0px, 
    rgb(0, 0, 0) -3px -3px 0px;
}

/* .testing-testing {
    display: flex;
    flex-direction: column;
    overflow: scroll;
} */

.instructional-container {
    display: flex;
    flex-direction: column;
    width: 82vw;
    background-color: rgb(37, 48, 59);
    border: 1px solid rgb(37, 48, 59);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    overflow: scroll;
    
}

.instructional-MCT {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    background-color: rgb(37, 48, 59);
    border: 1px solid rgb(37, 48, 59);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid whitesmoke;
}

.instructional-youtube {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    background-color: rgb(37, 48, 59);
    border: 1px solid rgb(37, 48, 59);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid whitesmoke;
}

.MCT-details {
    text-align: left;
    margin-left: 25px;
    margin-right: 10px;
    padding-right: 10px;
}

.youtube-video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

iframe {
    margin: 15px;
}

p {
    margin-top: 15px;
}