.project-card {
    border: 2px solid whitesmoke;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    width: 90%;
    padding-left: 15px;
    margin: 10px;
    line-height: normal;
}

.project-visuals-section {

}

.site-image {
    height: 150px;
    border: 1px solid whitesmoke;
    border-radius: 12px;
}

.project-details-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.project-description {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}