.timeline-main {
    position: relative;
    height: 40vw;
    margin-top: 50px;
    :before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        margin: 70px 0 0 -1px;
        width: 1px;
        height: calc(100% - 70px);
    }
}


.timeline-item {
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;
}

.timeline-item:after {
    content: '';
    display: block;
    clear: both;
}

.timeline-item div.inner {
    width: 100%;
    float: left;
    margin: 85px 0 0 0;
}

.timeline-date {
    display: block;
    width: 60px;
    height: 60px;
    padding: 3px 5px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -30px;
    border: 2px solid whitesmoke;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
}

.timeline-date span {
    display: block;
    text-align: center;
}

.timeline-month {
    font-size: 18px;
    padding-top: 4px;
}

.timeline-year {
    font-size: 13px;
}

.timeline-card {
    border-radius: 12px;
    border: 2px solid whitesmoke;
    transform: translate(-50%);
}

.timeline-card-title {
    padding: 5px;
    margin: 0;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 12px 12px 0 0;
    position: relative;
}

.timeline-card-title:after {
    content: '';
    position: absolute;
    top: -5px;
    left: 30%;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
}

.timeline-item div.inner p {
    padding: 5px 10px 5px 15px;
    margin: 0;
    font-size: 14px;
}

.timeline-item:nth-child(2n+2) div.inner {
    float: right;

    .timeline-card {
        transform: translate(50%);
    }
}

.timeline-card-title {
    background: orange;
}

.timeline-card-title:after {
    background: whitesmoke;
}

.description-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: normal;
    text-align: start;
}

.timeline-card-company{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.timeline-card-subcompany{
    font-weight: bold;
    font-size: 20px;
}

.timeline-card-duration {
    font-style: italic;
    font-size: 18px;
}

.timeline-item.is-visible div.inner {
    .timeline-card {
        transition: transform .8s ease-in;
        transform: translate(0);
    }
}

.timeline-item div.inner {
    width: 40%;
    margin: 5px 10px 0 10px;
}

.timeline-item div.inner h2:after {
    top: 20px;
    left: unset;
    right: -5px;
}

.timeline-item:nth-child(2n+2) div.inner h2:after {
    left: -5px;
}